.page-orpahage-icon{
    animation-name: page-flash;
    animation-duration:6s;
    animation-iteration-count: infinite;
  }
  .orphanages-img {
    animation-name: flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  /*Animação da imagem */
  @keyframes flash {
    0% {
    }
    50% {
      padding: 20px 25px;
    }
    100% {
    }
  } 
  

   @keyframes page-flash {
    0% {
    }
    50% {
      padding: 20px 25px;
    }
    100% {
    }
  } 
  #page-create-orphanage{
    display:flex;
    min-height: 100vh;  
  }

  main{
      flex:1;
  }

.map-container{
  margin: 0 0 4rem;
}  

.map-container .leaflet-container{
  border-radius:20px 20px 0 0 ;
}
.map-container footer{
  background: #F5F8FA;
  border-radius: 0 0 20px 20px;
}
 